*.o
autom4te.cache/
bin/
.deps/

etc/mediaCenter.conf

Makefile
config.log
config.status
include/defines.h
include/stamp-h1
libtool

mediaCenter
mediaCenter_cdMonitor
mediaCenter_dummy
mediaCenter_glmenu
mediaCenter_imon
mediaCenter_lirc
mediaCenter_mplayer
mediaCenter_old
mediaCenter_xine
mediaCenter_xmms

mediaCenter-*.tar.bz2
