*.o
autom4te.cache/
bin/
Makefile
config.log
config.status
include/defines.h
include/stamp-h1
libtool
src/.deps/
src/Makefile

mediaCenter
TVControl
mediaCenter_glmenu
mediaCenter_imon
mediaCenter_mplayer
mediaCenter_xine
mediaCenter_xmms

